@charset "UTF-8";
body, ul, li, ol, p, dl, dd, h1, h2, h3, h4, h5, h6, img, iframe, form, div {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul, ol {
  list-style: none;
}

img {
  border: 0;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #33495f;
}

input {
  outline: none;
  border: none;
}

.section6 .sub_btn:hover {
  opacity: 0.8;
}

html {
  color: #33495f;
  font: 14px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica,"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","STHeiti";
}

body {
  background-color: #fff;
  color: #33495f;
}

.box {
  width: 1080px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 96px;
  position: relative;
}
.header .header_top {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  position: absolute;
  top: 0;
  z-index: 1005;
}
.header .header_top .header_inner {
  width: 1080px;
  margin: 0 auto;
  position: relative;
  height: 95px;
}
.header .header_top .header_inner .logo {
  width: 190px;
  height: 76px;
  background: url(../images/logo_new.jpg) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 13px;
  top: 10px;
}
.header .header_top .header_inner .header_login {
  position: absolute;
  right: 0;
  top: 25px;
  height: 45px;
  line-height: 45px;
  color: #999;
}
.header .header_top .header_inner .header_login .header_login {
  color: #999;
}
.header .header_top .header_inner .header_login .signOut {
  color: #999;
}

.section1 {
  height: 60px;
  margin-top: 30px;
  text-align: center;
}
.section1 .step {
  width: 360px;
  height: 100%;
  float: left;
  background: url(../images/step.gif) -360px 0 no-repeat;
  color: #22bc69;
  text-indent: -3px;
}
.section1 .step i {
  display: block;
  height: 30px;
  color: #fff;
  font-style: normal;
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
  text-indent: -3px;
}
.section1 .step3 {
  color: #8e8e8e;
  background-position: 0 0;
}

.section2 .title, .section3 .title {
  line-height: 70px;
  height: 70px;
  font-size: 34px;
}

.section2 .content ul li .li_right .sel_add b, .section2 .content ul li .li_right .mark b {
  display: block;
  position: absolute;
  border-width: 5px;
  right: 10px;
  top: 52%;
  margin-top: -5px;
  border-style: solid;
  border-color: #33495f transparent transparent transparent;
}

.section2 {
  margin-top: 10px;
}
.section2 .content {
  border-radius: 4px;
  border: 1px solid #ededed;
  padding-left: 40px;
  padding-bottom: 25px;
}
.section2 .content h4 {
  font-size: 15px;
  line-height: 70px;
  height: 70px;
  font-style: normal;
}
.section2 .content h4 span {
  color: #E75F44;
}
.section2 .content ul li {
  height: 46px;
  margin-bottom: 20px;
  font-size: 15px;
}
.section2 .content ul li .li_left {
  float: left;
  width: 56px;
  line-height: 46px;
}
.section2 .content ul li .li_left span {
  display: inline-block;
  width: 16px;
  font: normal 12px/20px sans-serif;
  color: #E75F44;
  text-align: center;
}
.section2 .content ul li .li_right {
  height: 46px;
  float: left;
}
.section2 .content ul li .li_right input {
  border-radius: 2px;
  float: left;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  padding: 10px 30px 10px 10px;
  border: 1px solid #c3c8cc;
}
.section2 .content ul li .li_right .write_name {
  width: 150px;
}
.section2 .content ul li .li_right .sel_add, .section2 .content ul li .li_right .mark {
  max-width: 175px;
  min-width: 60px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding-right: 30px;
  padding-left: 10px;
  position: relative;
}
.section2 .content ul li .li_right .sel_add span, .section2 .content ul li .li_right .mark span {
  line-height: 40px;
}
.section2 .content ul li .li_right .write_adr {
  width: 340px;
}
.section2 .content ul li .li_right .mark {
  position: relative;
}
.section2 .content ul li .li_right .mark .adr_list {
  border: 1px solid #c3c8cc;
  width: 100px;
  position: absolute;
  left: -1px;
  top: 38px;
  background-color: #fff;
  display: none;
}
.section2 .content ul li .li_right .mark .adr_list a {
  display: block;
  width: 90px;
  height: 39px;
  padding-left: 10px;
  line-height: 38px;
  border-top: 1px solid #c3c8cc;
  margin-top: -1px;
}
.section2 .content ul li .li_right .write_phone {
  width: 150px;
}
.section2 .content ul li .li_right .write_contact {
  width: 150px;
}
.section2 .content ul li .li_right .add_adr {
  display: block;
  height: 46px;
  background-color: #22bc69;
  text-align: center;
  color: #fff;
  font-size: 16px;
  width: 192px;
  line-height: 46px;
  border-radius: 3px;
}

.section3 .content .top {
  height: 41px;
  background-color: #f7f7f7;
  color: #333;
  text-indent: 30px;
  line-height: 41px;
  position: relative;
}
.section3 .content .top span {
  position: absolute;
  right: 15px;
  top: 0;
  color: #999;
}
.section3 .content ul li {
  line-height: 44px;
  height: 44px;
  border-bottom: 1px dashed #ededed;
  padding-left: 30px;
}
.section3 .content ul li .name {
  width: 769px;
  float: left;
}
.section3 .content ul li .price {
  width: 150px;
  float: left;
}
.section3 .content ul li .number {
  width: 125px;
  float: left;
}

.section4 {
  padding-top: 50px;
}
.section4 .title {
  line-height: 30px;
  font-size: 20px;
}
.section4 .content {
  display: block;
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #ededed;
}
.section4 .content dt {
  height: 21px;
  margin-bottom: 15px;
  line-height: 21px;
  padding-left: 35px;
  background: url(../images/step.gif) -725px -40px no-repeat;
}
.section4 .content dt span {
  color: #22bc69;
}
.section4 .content dt b {
  font-weight: normal;
  color: #22bc69;
}
.section4 .content .active {
  background-position: -725px 0;
}
.section4 .content dd {
  height: 30px;
  padding: 10px 20px;
  font-size: 14px;
  color: #777;
  background: #f7f7f7;
  margin-bottom: 20px;
  display: none;
}
.section4 .content dd input {
  width: 158px;
  height: 20px;
  border: 1px solid #BBC1C5;
  border-radius: 2px;
  padding: 4px 10px;
  margin: 0 5px;
}
.section4 .content dd .use {
  width: 80px;
  height: 30px;
  background-color: #d4d4d4;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
}

.section5 {
  border-bottom: 1px solid #ededed;
  margin-bottom: 15px;
  overflow: hidden;
}
.section5 .left {
  line-height: 36px;
  color: #22bc69;
  height: 36px;
  cursor: pointer;
  float: left;
}
.section5 .right {
  width: 470px;
  padding: 5px 20px;
  float: right;
}
.section5 .right p {
  height: 21px;
  line-height: 20px;
  margin-bottom: 20px;
}
.section5 .right p b {
  font-style: normal;
  float: left;
  font-weight: normal;
}
.section5 .right p span {
  float: right;
}

.section6 {
  padding: 20px 0 30px;
  overflow: hidden;
}
.section6 .order_info {
  width: 338px;
  padding: 20px;
  border: 1px solid #E75F44;
  float: right;
}
.section6 .order_info p {
  line-height: 30px;
  height: 30px;
  font-size: 15px;
  text-align: right;
}
.section6 .order_info p:first-child {
  line-height: 38px;
  height: 38px;
}
.section6 .order_info p span {
  font-size: 24px;
  color: #E4543C;
}
.section6 .order_info p .check_box {
  display: inline-block;
  width: 21px;
  height: 20px;
  vertical-align: middle;
  background: #fff url(../images/chunbo_icon2x.png) -220px -56px no-repeat;
}
.section6 .order_info p .active {
  background-position: -250px -56px;
}
.section6 .order_info .dash {
  border-bottom: 1px dashed #ededed;
  margin: 10px 0;
  height: 0;
}
.section6 .sub_btn {
  width: 198px;
  height: 46px;
  background-color: #e75f44;
  line-height: 46px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-top: -1px;
  float: right;
  clear: both;
}

.footer {
  width: 100%;
  min-width: 1080px;
  background-color: #31485e;
}
.footer .footer_inner {
  width: 1040px;
  margin: 0 auto;
  position: relative;
  background-color: #31485e;
  padding: 35px 20px 15px;
}
.footer .footer_inner .bot {
  padding-top: 10px;
  text-align: center;
  line-height: 26px;
  color: #91afc6;
}
.footer .footer_inner .bot a {
  color: #91afc6;
}
.footer .footer_inner .bot span {
  display: block;
}
